@import "./components/_variables";
@import "./components/_App";
@import "./components/_LeaderTable";
@import "./components/_CamperList";

body {
  background-color: lightyellow;
  text-align: center;
  margin: 0px;
}
